#header-holder.inner-header {
    position: relative;
}

#header-holder.inner-header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(120deg, #0519a7, #2b56cf);
    background-image: -o-linear-gradient(120deg, #0519a7, #2b56cf);
    background-image: linear-gradient(120deg, #0519a7, #2b56cf);
}

#page-head {
    padding-top: 50px;
    padding-bottom: 50px;
}

#page-head .page-title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    position: relative;
    z-index: 10;
}

#header-holder.contact-header #page-head .page-title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}

#header-holder.contact-header #page-head .text {
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.5;
}

#header-holder.contact-header .support-button-holder a.support-button {
    background-color: #65d692;
}

#header-holder.contact-header .support-button-holder a.support-button:hover, #header-holder.contact-header .support-button-holder a.support-button:focus {
    background-color: #51d184 !important;
}

#header-holder.about-header {
    background-color: #00b869;
}

#header-holder.about-header #page-head {
    padding-top: 80px;
    padding-bottom: 80px;
}

#header-holder.serverspage-header #page-head {
    padding-top: 70px;
    padding-bottom: 100px;
}

#header-holder.serverspage-header #page-head .servers-icon {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 345px;
    height: 345px;
    border-radius: 500px;
}
@media(max-width: 767px){
    #header-holder.serverspage-header #page-head .servers-icon {
        width: 210px;
        height: 210px;
    }
}

#header-holder.serverspage-header #page-head .servers-icon:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    opacity: 0.02;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.7s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.7s cubic-bezier(0.34, 1.61, 0.7, 1);
    pointer-events: none;
}

#header-holder.serverspage-header #page-head .servers-icon:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    opacity: 0.06;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
    pointer-events: none;
}

#header-holder.serverspage-header #page-head .servers-icon .icon-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding-top: 18%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    background-image: -o-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.15);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#header-holder.serverspage-header #page-head .servers-icon img {
    width: 294px;
    width: 85%;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-holder.serverspage-header #page-head .servers-icon:hover .icon-holder {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#header-holder.serverspage-header #page-head .servers-icon:hover:before {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#header-holder.serverspage-header #page-head .servers-icon:hover:after {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

#header-holder.serverspage-header #page-head .head-content h4 {
    font-size: 13px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 35px;
}

#header-holder.serverspage-header #page-head .head-content p {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 35px;
}

#header-holder.domainspage-header #page-head .page-title {
    font-size: 25px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

#header-holder.domainspage-header #page-head .row > div {
    position: relative;
}

#header-holder.domainspage-header #page-head .domain-search-holder {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#header-holder.domainspage-header #page-head .domain-search-holder .input-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 665px;
}

#header-holder.domainspage-header #page-head .domain-search-holder .input-holder #domain-text {
    width: 100%;
    background-color: #f7f9fb;
    border: 0px solid #b7b7b7;
    border-radius: 20px;
    padding: 25px 37px;
    outline: none;
    font-size: 19px;
    font-weight: 700;
    color: #44494f;
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
}

#header-holder.domainspage-header #page-head .domain-search-holder .input-holder #search-btn {
    position: absolute;
    top: 13px;
    right: 13px;
    border: 0;
    padding: 13px 22px;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #142745;
    border-radius: 15px;
}

#header-holder.domainspage-header #page-head .domain-search-holder .input-holder #search-btn:hover, #header-holder.domainspage-header #page-head .domain-search-holder .input-holder #search-btn:focus {
    background-color: #0e1c31;
}

.bg-custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(120deg, #05a761, #2bcf88);
    background-image: -o-linear-gradient(120deg, #05a761, #2bcf88);
    background-image: linear-gradient(120deg, #05a761, #2bcf88);
}

.bg-custom .obj-gradiant1 {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #004c52, #00b869);
    background-image: -o-linear-gradient(90deg, #004c52, #00b869);
    background-image: linear-gradient(90deg, #004c52, #00b869);
    opacity: 0;
    position: absolute;
    width: 70%;
    height: 50%;
    left: 0;
    top: 20%;
}

.bg-custom .obj-gradiant2 {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #00b869, #004c52);
    background-image: -o-linear-gradient(90deg, #00b869, #004c52);
    background-image: linear-gradient(90deg, #00b869, #004c52);
    opacity: 0;
    position: absolute;
    width: 70%;
    height: 50%;
    right: 0;
    bottom: 0;
}

.icons-animation-holder {
    position: relative;
    display: inline-block;
    width: 325px;
    height: 230px;
    margin: 80px 0;
}

.icons-animation-holder .aicon {
    border-radius: 200px;
    width: 106px;
    height: 106px;
    display: inline-block;
    position: absolute;
    background-color: rgba(0, 199, 114, 0.8);
    text-align: center;
    margin-top: -53px;
    margin-left: -53px;
    padding-top: 20px;
}

.icons-animation-holder .aicon img {
    width: 75px;
}

.icons-animation-holder .aicon1 {
    top: 0%;
    left: 0%;
    opacity: 0;
    -webkit-animation: animateplace1 1s ease 0.3s forwards;
    -moz-animation: animateplace1 1s ease 0.3s forwards;
    -ms-animation: animateplace1 1s ease 0.3s forwards;
    animation: animateplace1 1s ease 0.3s forwards;
}

.icons-animation-holder .aicon2 {
    top: 0%;
    left: 100%;
    opacity: 0;
    -webkit-animation: animateplace2 1s ease 0.5s forwards;
    -moz-animation: animateplace2 1s ease 0.5s forwards;
    -ms-animation: animateplace2 1s ease 0.5s forwards;
    animation: animateplace2 1s ease 0.5s forwards;
}

.icons-animation-holder .aicon3 {
    top: 100%;
    left: 0%;
    opacity: 0;
    -webkit-animation: animateplace3 1s ease 0.7s forwards;
    -moz-animation: animateplace3 1s ease 0.7s forwards;
    -ms-animation: animateplace3 1s ease 0.7s forwards;
    animation: animateplace3 1s ease 0.7s forwards;
}

.icons-animation-holder .aicon4 {
    top: 100%;
    left: 100%;
    opacity: 0;
    -webkit-animation: animateplace4 1s ease 0.9s forwards;
    -moz-animation: animateplace4 1s ease 0.9s forwards;
    -ms-animation: animateplace4 1s ease 0.9s forwards;
    animation: animateplace4 1s ease 0.9s forwards;
}

.icons-animation-holder .aicon-main {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, #06ff94, #00b869);
    background-image: -o-linear-gradient(-30deg, #06ff94, #00b869);
    background-image: linear-gradient(-30deg, #06ff94, #00b869);
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
    top: 50%;
    left: 50%;
    padding-top: 45px;
}

.icons-animation-holder .aicon-main svg.logo {
    width: 62px;
    height: auto;
}

@keyframes animateplace1 {
    0% {
        top: 50%;
        left: 50%;
        opacity: 0;
    }

    100% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
}

@keyframes animateplace2 {
    0% {
        top: 50%;
        left: 50%;
        opacity: 0;
    }

    100% {
        top: 0%;
        left: 100%;
        opacity: 1;
    }
}

@keyframes animateplace3 {
    0% {
        top: 50%;
        left: 50%;
        opacity: 0;
    }

    100% {
        top: 100%;
        left: 0%;
        opacity: 1;
    }
}

@keyframes animateplace4 {
    0% {
        top: 50%;
        left: 50%;
        opacity: 0;
    }

    100% {
        top: 100%;
        left: 100%;
        opacity: 1;
    }
}

.company-info-holder {
    text-align: left;
}

.company-info-holder h4 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.company-info-holder .details-holder p {
    font-size: 27px;
    font-weight: 700;
    color: #ffffff;
}

.company-info-holder .info-slider .slick-list {
    margin-bottom: 40px;
}

.company-info-holder .info-slider .slick-dots {
    text-align: left;
    position: relative;
}

.company-info-holder .info-slider .slick-dots li {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.company-info-holder .info-slider .slick-dots li:first-child {
    margin-left: 0;
}

#ifeatures {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ifeatures .feature-box {
    background-color: #ffffff;
    padding: 40px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ifeatures .feature-box .feature-icon img {
    width: 150px;
}

#ifeatures .feature-box .feature-title {
    color: #383ebf;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 25px;
}

#ifeatures .feature-box .feature-details {
    color: #7f7f94;
    font-size: 15px;
    font-weight: 400;
}

#ifeatures.sfeatures {
    background-color: #fff;
    padding-bottom: 40px;
}

#ifeatures.sfeatures .feature-box {
    background-color: transparent;
}

#ifeatures.sfeatures .feature-box .feature-title {
    margin-bottom: 20px;
}

#more-info {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 100;
}

#more-info .bg-custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#more-info .bg-custom .obj-gradiant1 {
      /*@include gradient(#97cae5,$main-accent-color,0deg);*/
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(0deg, #3d9c1c, #00b869);
    background-image: -o-linear-gradient(0deg, #3d9c1c, #00b869);
    background-image: linear-gradient(0deg, #3d9c1c, #00b869);
    opacity: 1;
    position: absolute;
    width: 45%;
    height: 60%;
    left: 0;
    top: 0;
}

#more-info .bg-custom .obj-gradiant2 {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #00b869, #06ff94);
    background-image: -o-linear-gradient(90deg, #00b869, #06ff94);
    background-image: linear-gradient(90deg, #00b869, #06ff94);
    opacity: 0.4;
    position: absolute;
    width: 60%;
    height: 50%;
    right: 0;
    bottom: 0;
}

#more-info .links-holder {
    text-align: center;
    padding-top: 40px;
}

#more-info .links-holder ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

#more-info .links-holder ul li {
    margin-bottom: 15px;
}

#more-info .links-holder ul li .info-link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    background-color: transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0);
    padding: 10px 40px 10px 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#more-info .links-holder ul li .info-link:after {
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    top: 50%;
    margin-top: -9px;
    right: 25px;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#more-info .links-holder ul li .info-link:hover, #more-info .links-holder ul li .info-link:focus, #more-info .links-holder ul li .info-link.opened {
    background-color: #142745;
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.08);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.08);
}

#more-info .links-holder ul li .info-link:hover:after, #more-info .links-holder ul li .info-link:focus:after, #more-info .links-holder ul li .info-link.opened:after {
    right: 20px;
    opacity: 1;
}

#more-info.darkbg {
    background-color: #29304a;
    padding-top: 60px;
    padding-bottom: 110px;
}

#more-info.darkbg .links-holder ul {
    width: auto;
}

#more-info.darkbg .links-holder ul li .info-link {
    color: #6f7690;
}

#more-info.darkbg .links-holder ul li .info-link:hover, #more-info.darkbg .links-holder ul li .info-link:focus, #more-info.darkbg .links-holder ul li .info-link.opened {
    color: #ffffff;
}

.info-details-holder {
    position: relative;
    min-height: 250px;
}

.info-details-holder .info-details {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.info-details-holder .info-details.show-details {
    opacity: 1;
}

.info-details-holder .info-details h1 {
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}

.info-details-holder .info-details p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #ffffff;
    opacity: 0.7;
}

.info-details-holder .info-details .photo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-details-holder .info-details .photo img {
    width: 69px;
    border-radius: 200px;
}

.info-details-holder .info-details .person-title {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

#team {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    overflow: hidden;
}

#team .team-holder {
    padding-top: 40px;
}

#team .person-box {
    display: inline-block;
    width: 100%;
    max-width: 191px;
    position: relative;
    padding: 60px 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    border: 0;
    background-color: #fff;
    border-radius: 20px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
}

#team .person-box:hover, #team .person-box:focus {
    background-color: #00b869;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.12);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.12);
}

#team .person-box:hover .person-icon .person-img, #team .person-box:focus .person-icon .person-img {
    top: -34px;
}

#team .person-box:hover .person-name, #team .person-box:focus .person-name {
    color: #ffffff;
}

#team .person-box:hover .person-title, #team .person-box:focus .person-title {
    color: #ffffff;
}

#team .person-box:hover .person-social a [class*="fa"], #team .person-box:focus .person-social a [class*="fa"] {
    color: #fff;
}

#team .person-box .person-icon .person-img {
    position: absolute;
    width: 100%;
    top: -37px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#team .person-box .person-icon .person-img img {
    width: 75px;
    border-radius: 100px;
}

#team .person-box .person-name {
    color: #16386F;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}

#team .person-box .person-title {
    color: #9DA9BC;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 15px;
}

#team .person-box .person-social a {
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#team .person-box .person-social a [class*="fa"] {
    color: #9DA9BC;
    font-size: 20px;
    opacity: 1;
    margin-left: 4px;
    margin-right: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#team .person-box .person-social a:hover [class*="fa"], #team .person-box .person-social a:focus [class*="fa"] {
    opacity: 0.7;
}

#header-holder .whitebg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header-holder .whitebg img {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: skewY(-10deg) scale(2.2);
    -moz-transform: skewY(-10deg) scale(2.2);
    -ms-transform: skewY(-10deg) scale(2.2);
    transform: skewY(-10deg) scale(2.2);
    opacity: 0.2;
}

#header-holder.color1-header {
    background-color: #262626;
}

#header-holder.color1-header .bg-animation {
    display: none;
}

#header-holder.color1-header .support-button-holder a.support-button {
    background-color: #1fcd62;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#header-holder.color1-header .support-button-holder a.support-button:hover, #header-holder.color1-header .support-button-holder a.support-button:focus {
    background-color: #13b953 !important;
}

#header-holder.color2-header {
    background-color: #756de7;
}

#header-holder.color2-header .bg-animation {
    display: none;
}

#header-holder.color2-header .support-button-holder a.support-button {
    background-color: #6159d0;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#header-holder.color2-header .support-button-holder a.support-button:hover, #header-holder.color2-header .support-button-holder a.support-button:focus {
    background-color: #5750be !important;
}

#header-holder.color3-header {
    background-color: #589ff7;
}

#header-holder.color3-header .bg-animation {
    display: none;
}

#header-holder.color3-header .support-button-holder a.support-button {
    background-color: #458ae0;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#header-holder.color3-header .support-button-holder a.support-button:hover, #header-holder.color3-header .support-button-holder a.support-button:focus {
    background-color: #3f7ece !important;
}

#header-holder.web-hosting-page #page-head {
    padding-top: 80px;
    padding-bottom: 80px;
}

#header-holder.hosting-page #page-head {
    padding-top: 80px;
    padding-bottom: 80px;
}

#apps {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #2bcf88, #05a761);
    background-image: -o-linear-gradient(90deg, #2bcf88, #05a761);
    background-image: linear-gradient(90deg, #2bcf88, #05a761);
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#apps .row-icon img {
    width: 25px;
}

#apps .row-title {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 300;
}

#apps .row-title:after {
    background-color: #4e3fa4;
    display: none;
}

#apps .apps-holder .apps-links-holder {
    display: inline-block;
    width: 50%;
}

#apps .apps-holder .apps-details-holder {
    display: inline-block;
    width: 70%;
}

#apps .apps-holder .app-icon-holder {
    position: relative;
    display: inline-block;
    width: 24%;
    cursor: pointer;
    margin-bottom: 14px;
    z-index: 1;
}

#apps .apps-holder .app-icon-holder .app-icon {
    margin-bottom: 10px;
}

#apps .apps-holder .app-icon-holder .app-icon img {
    width: 40px;
}

#apps .apps-holder .app-icon-holder .app-title {
    color: #dddde8;
    font-size: 16px;
    font-weight: 600;
    color: transparent;
}

#apps .apps-holder .app-icon-holder.opened .app-title {
    color: #ffffff;
}

#apps .apps-holder .app-icon-holder.opened:after {
    background-color: #2d343c;
    -webkit-box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1);
}

#apps .apps-holder .app-icon-holder:after {
    position: absolute;
    content: "";
    top: -36px;
    left: 50%;
    margin-left: -56px;
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
    background-color: transparent;
    -webkit-box-shadow: 0 7px 18px rgba(0, 0, 0, 0);
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0);
}

#apps .apps-holder .app-details {
    position: relative;
    min-height: 228px;
    margin-bottom: -86px;
    border-radius: 0;
    background-color: #0dca7f;
    -webkit-box-shadow: 0 -9px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -9px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

#apps .apps-holder .app-details div[class^="app-details"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    padding: 42px 25px 0;
}

#apps .apps-holder .app-details div[class^="app-details"].show-details {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#apps .apps-holder .app-details div[class^="app-details"] .app-title {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: left;
}

#apps .apps-holder .app-details div[class^="app-details"] .app-text {
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    margin-bottom: 15px;
}

#apps .apps-holder .app-details div[class^="app-details"] .app-link {
    text-align: left;
}

#apps .apps-holder .app-details div[class^="app-details"] .app-link a {
    margin-left: 0;
}

#apps .apps-holder .app-details div[class^="app-details"] .img-holder img {
    width: 100%;
    max-width: 278px;
    -webkit-box-shadow: 0 -9px 18px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -9px 18px rgba(0, 0, 0, 0.2);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.brightness {
    -webkit-filter: brightness(1000%);
    -moz-filter: brightness(1000%);
    -ms-filter: brightness(1000%);
    filter: brightness(1000%);
}

#articles {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#articles .article-summary {
    margin: 40px 10px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#articles .article-summary:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.12);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.12);
}

#articles .article-summary .article-img img {
    border-radius: 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#articles .article-summary .article-img img:hover, #articles .article-summary .article-img img:focus {
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
    -ms-filter: brightness(110%);
    filter: brightness(110%);
}

#articles .article-summary .article-details {
    padding: 24px;
    text-align: left;
}

#articles .article-summary .article-title {
    margin-bottom: 18px;
    padding-right: 18px;
    position: relative;
}

#articles .article-summary .article-title a {
    display: inline-block;
    width: 100%;
    color: #16386F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#articles .article-summary .article-title a:hover, #articles .article-summary .article-title a:focus {
    color: #0e2344;
}

#articles .article-summary .article-title:after {
    display: none;
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    top: 50%;
    margin-top: -9px;
    right: 0;
    color: #9DA9BC;
    font-size: 12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#articles .article-summary .article-title:hover:after {
    color: #00b869;
}

#articles .article-summary .article-date {
    color: rgba(119, 116, 147, 0.34);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

#articles .article-summary .article-text {
    color: #9DA9BC;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

#articles .article-summary .article-links {
    margin-left: 0;
    margin-right: 0;
}

#articles .article-summary .article-links .ybtn {
    padding-left: 0;
    padding-right: 0;
    color: #332f5c;
}

#articles .article-summary .article-links div[class^="col-"] {
    padding: 0;
}

#articles .article-summary .article-links .readmore-holder {
    text-align: right;
}

#articles .article-summary .article-links .date-holder {
    text-align: left;
    color: #d5deed;
    font-size: 13px;
    font-weight: 600;
    margin-top: 9px;
}

#articles .article-summary .article-links .date-holder a {
    display: inline-block;
    padding: 10px 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#articles .article-summary .article-links .date-holder a [class*="fa"] {
    color: #c3c9cd;
    font-size: 18px;
}

#articles .article-summary .article-links .date-holder a:hover [class*="fa"], #articles .article-summary .article-links .date-holder a:focus [class*="fa"] {
    color: #aab2b7;
}

#articles .pagination {
    padding-top: 30px;
}

#articles .pagination .page-number {
    display: inline-block;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    color: #9DA9BC;
    background-color: #fff;
    text-decoration: none;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.08);
}

#articles .pagination .page-number [class*="fa-"] {
    font-size: 11px;
}

#articles .pagination a.page-number {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#articles .pagination a.page-number:hover, #articles .pagination a.page-number:focus {
    color: #00b869;
}

#articles .pagination .page-number.current {
    color: #9DA9BC;
    background-color: #EFF1F4;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#post-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

#post-content .post .post-thumbnail img {
    width: 100%;
}

#post-content .post .post-entry {
    padding: 30px 20px;
}

#post-content .post .post-entry .date-published {
    font-weight: 300;
    font-size: 15px;
    color: #cccccc;
}

#post-content .post .post-entry a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#post-content .post .post-entry a .post-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #5f6576;
    margin-bottom: 60px;
}

#post-content .post .post-entry a:hover .post-title, #post-content .post .post-entry a:focus .post-title {
    color: #0397ff;
}

#post-content .post .meta .view {
    margin-right: 20px;
    color: #696969;
}

#post-content .post .meta .view:before {
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    color: #00b869;
    margin-right: 10px;
}

#post-content .post .meta .like {
    margin-right: 20px;
    color: #696969;
}

#post-content .post .meta .like:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    color: #00b869;
    margin-right: 10px;
}

#post-content .post .meta .like a {
    color: #696969;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#post-content .post .meta .like a:hover, #post-content .post .meta .like a:focus {
    color: #0397ff;
}

#post-content .post .meta .comment {
    margin-right: 20px;
    color: #696969;
}

#post-content .post .meta .comment:before {
    content: "\f27a";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    color: #00b869;
    margin-right: 10px;
}

#post-content #post-body .post .post-title {
    font-weight: 600;
    font-size: 22px;
    color: #3f3d59;
    margin-bottom: 20px;
    margin-top: 30px;
}

#post-content #post-body .post .meta {
    margin-bottom: 30px;
}

#post-content #post-body .post p {
    line-height: 26px;
}

#post-content #post-body .post-author img {
    border-radius: 200px;
    width: 100px;
}

#post-content #post-body .post-author .name {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 18px;
}

#post-content #post-body .post-author .desc {
    color: #9298a3;
}

#post-content #sidebar .widget {
    margin-bottom: 50px;
}

#post-content #sidebar .widget-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    color: #3f3d59;
}

#post-content #sidebar #categories.widget .item {
    position: relative;
    margin-bottom: 8px;
    margin-top: 8px;
}

#post-content #sidebar #categories.widget .item a {
    color: #696969;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#post-content #sidebar #categories.widget .item a span {
    position: absolute;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 3px;
    text-align: center;
    border: 2px solid #65d692;
    color: #65d692;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 600;
}

#post-content #sidebar #categories.widget .item a:hover, #post-content #sidebar #categories.widget .item a:focus {
    color: #65d692;
}

#post-content #sidebar #categories.widget .item a:hover span, #post-content #sidebar #categories.widget .item a:focus span {
    background-color: #65d692;
    color: #ffffff;
}

#post-content #sidebar #popular-posts.widget .item {
    margin: 0;
    margin-bottom: 20px;
}

#post-content #sidebar #popular-posts.widget .item .thumb {
    padding: 0;
    overflow: hidden;
}

#post-content #sidebar #popular-posts.widget .item .thumb img {
    width: 135%;
}

#post-content #sidebar #popular-posts.widget .item .info .date {
    font-size: 13px;
    color: #b7b7b7;
    display: block;
}

#post-content #sidebar #popular-posts.widget .item .info .title a {
    font-weight: 600;
    font-size: 14px;
    color: #3f3d59;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#post-content #sidebar #popular-posts.widget .item .info .title a:hover, #post-content #sidebar #popular-posts.widget .item .info .title a:focus {
    color: #72d99b;
}

#post-content #sidebar #tags.widget a.tag-link {
    padding: 8px 15px;
    background: #f6f7f7;
    border: 1px solid #f6f7f7;
    border-radius: 6px;
    font-size: 14px;
    display: inline-block;
    color: #ababab;
    margin-right: 5px;
    margin-bottom: 7px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#post-content #sidebar #tags.widget a.tag-link:hover, #post-content #sidebar #tags.widget a.tag-link:focus {
    background-color: #72d99b;
    color: #ffffff;
}

#info-text {
    background-color: #ffffff;
    padding-top: 55px;
    padding-bottom: 50px;
}

#info-text .text {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #3f3d59;
}

#info-text .text:after {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -17px;
    bottom: -20px;
    width: 34px;
    height: 2px;
    background-color: #3f3d59;
}

#contact-info {
    background-color: #f9fbff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-info .info-box {
    padding: 50px 40px;
    text-align: left;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1000;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.06);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: 0 12px 25px hwb(238deg 18% 20%);
}

#contact-info .info-box:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
}

#contact-info .info-box:hover .info-title:before {
    background-color: #383ebf;
}

#contact-info .info-box .info-title {
    color: #383ebf;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#contact-info .info-box .info-title:before {
    display: inline-block;
    color: #ffffff;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 23px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 18px;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    background-color: #3d3d3d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#contact-info .info-box .info-title.phone-icon:before {
    padding-top: 8px;
    content: "\f095";
}

#contact-info .info-box .info-title.chat-icon:before {
    padding-top: 12px;
    content: "\f075";
}

#contact-info .info-box .info-title.location-icon:before {
    padding-top: 7px;
    content: "\f041";
}

#contact-info .info-box .info-details {
    font-size: 15px;
    color: #332f5c;
}

#contact-info .info-box .info-details a {
    font-size: 15px;
    color: #383ebf;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#contact-info .info-box .info-details a:hover, #contact-info .info-box .info-details a:focus {
    color: #383ebf;
}

#contact-info .info-box .info-details p {
    margin-bottom: 18px;
}

#contact-info .info-box .info-details p:last-child {
    margin-bottom: 0;
}


.contact_form{
    /*background-color: #383ebfed;*/
    padding: 50px;
    border-radius: 5%;
    /*box-shadow: 0 12px 67px rgb(0 0 0 / 42%);*/
    box-shadow: 0 12px 25px hwb(238deg 18% 20%);
}


#page-icon .pricing-icon {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 50%;
    margin-left: -44px;
    border-radius: 200px;
    overflow: hidden;
    z-index: 100;
    -webkit-box-shadow: 0 5px 18px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 18px rgb(0 0 0 / 10%);
}


#extra-info {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(120deg, #2bcf88, #05a761);
    background-image: -o-linear-gradient(120deg, #2bcf88, #05a761);
    background-image: linear-gradient(120deg, #2bcf88, #05a761);
    padding-top: 60px;
    padding-bottom: 60px;
}

#extra-info .text-holder {
    display: inline-block;
    text-align: left;
}

#extra-info h1 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
    line-height: 50px;
}

#extra-info p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
    line-height: 30px;
}

#extra-info .link-holder {
    padding-top: 80px;
}

#extra-info .tld-graphic {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#extra-info .tld-graphic div {
    display: inline-block;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    background-image: -o-linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#extra-info .tld-graphic div:nth-child(1) {
    -webkit-transform: scale(1) translateY(-10px) translateX(-30px);
    -moz-transform: scale(1) translateY(-10px) translateX(-30px);
    -ms-transform: scale(1) translateY(-10px) translateX(-30px);
    transform: scale(1) translateY(-10px) translateX(-30px);
}

#extra-info .tld-graphic div:nth-child(2) {
    -webkit-transform: scale(1) translateY(-50px);
    -moz-transform: scale(1) translateY(-50px);
    -ms-transform: scale(1) translateY(-50px);
    transform: scale(1) translateY(-50px);
}

#extra-info .tld-graphic div:nth-child(3) {
    -webkit-transform: scale(1) translateY(-10px) translateX(30px);
    -moz-transform: scale(1) translateY(-10px) translateX(30px);
    -ms-transform: scale(1) translateY(-10px) translateX(30px);
    transform: scale(1) translateY(-10px) translateX(30px);
}

#extra-info .tld-graphic div:hover:nth-child(1) {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(-30px);
    -moz-transform: scale(1.1) translateY(-10px) translateX(-30px);
    -ms-transform: scale(1.1) translateY(-10px) translateX(-30px);
    transform: scale(1.1) translateY(-10px) translateX(-30px);
}

#extra-info .tld-graphic div:hover:nth-child(2) {
    -webkit-transform: scale(1.1) translateY(-50px);
    -moz-transform: scale(1.1) translateY(-50px);
    -ms-transform: scale(1.1) translateY(-50px);
    transform: scale(1.1) translateY(-50px);
}

#extra-info .tld-graphic div:hover:nth-child(3) {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(30px);
    -moz-transform: scale(1.1) translateY(-10px) translateX(30px);
    -ms-transform: scale(1.1) translateY(-10px) translateX(30px);
    transform: scale(1.1) translateY(-10px) translateX(30px);
}

#page-content {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

#page-content ul, #page-content ol {
    padding: 0;
    padding-left: 14px;
    margin-bottom: 20px;
}

#page-content ul li, #page-content ol li {
    color: #7a7896;
    font-size: 16px;
}

#page-content h4 {
    font-size: 17px;
    color: #3f3d59;
    font-weight: 600;
}

#page-content p {
    font-size: 16px;
    color: #7a7896;
    font-weight: 300;
    margin-bottom: 30px;
}

.text-row {
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
}

.text-row .text-holder {
    display: inline-block;
    width: 100%;
    max-width: 680px;
}

.text-row .text-holder p {
    font-size: 23px;
    font-weight: 300;
    line-height: 40px;
    color: #817e95;
}

#domain-quick-pricing {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

#domain-quick-pricing .domain-box {
    position: relative;
    background-color: #fcfcfd;
    background-color: #fff;
    border-radius: 20px;
    border: 0px solid #e0e0e8;
    padding: 48px 40px 25px;
    margin: 0 10px;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    box-shadow: 0 12px 67px rgba(0, 0, 0, 0.07);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#domain-quick-pricing .domain-box:hover, #domain-quick-pricing .domain-box:focus {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}

#domain-quick-pricing .domain-box .title {
    position: absolute;
    top: -37px;
    left: 50%;
    margin-left: -37px;
    font-size: 23px;
    font-weight: 500;
    color: #6d7b88;
    width: 74px;
    height: 74px;
    padding-top: 18px;
    border-radius: 100px;
    background-color: #f2f6fa;
    border: 0px solid #6d7b88;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

#domain-quick-pricing .domain-box .price {
    font-size: 17px;
    font-weight: 600;
    color: #a2a0b0;
    margin-bottom: 25px;
}

#domain-quick-pricing .domain-box .details {
    font-size: 14px;
    font-weight: 300;
    color: #3f3d59;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#domain-quick-pricing .domain-box .link a {
    display: inline-block;
    border-radius: 10px;
    padding: 12px 26px;
    background-color: #a8b3bd;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

#domain-quick-pricing .domain-box .link a:hover, #domain-quick-pricing .domain-box .link a:focus {
    background-color: #56616c;
}

#domain-quick-pricing .domain-box.d-color1:hover, #domain-quick-pricing .domain-box.d-color1:focus {
    border-color: #726ae6;
}

#domain-quick-pricing .domain-box.d-color1 .title {
    background-color: #726ae6;
    color: #f5f4fe;
    border-color: #726ae6;
}

#domain-quick-pricing .domain-box.d-color1 .link a:hover, #domain-quick-pricing .domain-box.d-color1 .link a:focus {
    background-color: #726ae6;
}

#domain-quick-pricing .domain-box.d-color2:hover, #domain-quick-pricing .domain-box.d-color2:focus {
    border-color: #19b856;
}

#domain-quick-pricing .domain-box.d-color2 .title {
    background-color: #19b856;
    color: #e3ffe5;
    border-color: #19b856;
}

#domain-quick-pricing .domain-box.d-color2 .link a:hover, #domain-quick-pricing .domain-box.d-color2 .link a:focus {
    background-color: #19b856;
}

#domain-quick-pricing .domain-box.d-color3:hover, #domain-quick-pricing .domain-box.d-color3:focus {
    border-color: #098dff;
}

#domain-quick-pricing .domain-box.d-color3 .title {
    background-color: #098dff;
    color: #e7f4ff;
    border-color: #098dff;
}

#domain-quick-pricing .domain-box.d-color3 .link a:hover, #domain-quick-pricing .domain-box.d-color3 .link a:focus {
    background-color: #098dff;
}

#domain-pricing .pricing-table-holder {
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #d3d3dd;
}

#domain-pricing .pricing-table-holder table {
    text-align: center;
    margin-bottom: 0;
}

#domain-pricing .pricing-table-holder table tr {
    position: relative;
    background-color: #fcfcfd;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#domain-pricing .pricing-table-holder table tr th {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #00b869;
    background-color: #fcfcfd;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 27px 15px;
    border-bottom: 1px solid #d3d3dd;
    border-right: 1px solid #d3d3dd;
}

#domain-pricing .pricing-table-holder table tr th:last-child {
    border-right: 0px solid #d3d3dd;
}

#domain-pricing .pricing-table-holder table tr td {
    text-align: center;
    font-size: 15px;
    color: #6d7b88;
    padding: 27px 15px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 0;
    border-right: 1px solid #d3d3dd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#domain-pricing .pricing-table-holder table tr td:first-child {
    font-weight: 400;
    color: #4f5459;
}

#domain-pricing .pricing-table-holder table tr td:last-child {
    border-right: 0px solid #d3d3dd;
}

#domain-pricing .pricing-table-holder table tr td .register-button {
    border-radius: 10px;
    padding: 10px 24px;
    background-color: #a8b3bd;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

#domain-pricing .pricing-table-holder table tr td .register-button:hover, #domain-pricing .pricing-table-holder table tr td .register-button:focus {
    background-color: #00b869;
}

#domain-pricing .pricing-table-holder table tr:nth-of-type(odd) {
    background-color: #f6f6f9;
}

#domain-pricing .pricing-table-holder table tr:hover, #domain-pricing .pricing-table-holder table tr:focus {
    background-color: #ffffff;
    -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

#domain-pricing .pricing-table-holder table tr:hover td, #domain-pricing .pricing-table-holder table tr:focus td {
    color: #00b869;
}

#domain-pricing .htfy-pricing-table-holder {
    margin-top: 40px;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table {
    text-align: center;
    min-width: 940px;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row {
    position: relative;
    background-color: #fcfcfd;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-left: 1px solid #d3d3dd;
    border-right: 1px solid #d3d3dd;
    margin: 0;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.thead {
    border-top: 1px solid #d3d3dd;
    border-bottom: 1px solid #d3d3dd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fcfcfd;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row:last-child {
    border-bottom: 1px solid #d3d3dd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .th {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #00b869;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 27px 10px;
    border-right: 1px solid #d3d3dd;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .th:last-child {
    border-right: 0px solid #d3d3dd;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .td {
    text-align: center;
    font-size: 15px;
    color: #6d7b88;
    padding: 27px 10px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 0;
    border-right: 1px solid #d3d3dd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .td:first-child {
    font-weight: 400;
    color: #4f5459;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .td:last-child {
    border-right: 0px solid #d3d3dd;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .td .register-button {
    border-radius: 10px;
    padding: 10px 24px;
    background-color: #a8b3bd;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row .td .register-button:hover, #domain-pricing .htfy-pricing-table-holder .htfy-table .row .td .register-button:focus {
    background-color: #00b869;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 74px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: 1px solid rgba(211, 211, 221, 0);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:nth-of-type(odd) {
    background-color: #f6f6f9;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:hover, #domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:focus {
    z-index: 100;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:hover:before, #domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:focus:before {
    background-color: #ffffff;
    border: 1px solid #d3d3dd;
    border-radius: 10px;
    -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    -webkit-transform: scaleX(1.01) scaleY(1.05);
    -moz-transform: scaleX(1.01) scaleY(1.05);
    -ms-transform: scaleX(1.01) scaleY(1.05);
    transform: scaleX(1.01) scaleY(1.05);
    opacity: 1;
}

#domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:hover .td, #domain-pricing .htfy-pricing-table-holder .htfy-table .row.trow:focus .td {
    color: #00b869;
}

#serverslocation {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#serverslocation .serversmap-holder {
    overflow: scroll;
}

#serverslocation #serversmap {
    position: relative;
    display: inline-block;
    width: 821px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#serverslocation #serversmap img {
    width: 100%;
    opacity: 0.32;
}

#serverslocation #serversmap .servers-location-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#serverslocation #serversmap .servers-location-holder .server-marker {
    position: absolute;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

#serverslocation #serversmap .servers-location-holder .server-marker .left-text {
    font-size: 16px;
    font-weight: 700;
    color: #6f7690;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#serverslocation #serversmap .servers-location-holder .server-marker .marker-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background-color: #00b869;
    margin-right: 8px;
    margin-left: 8px;
}

#serverslocation #serversmap .servers-location-holder .server-marker .right-text {
    font-size: 16px;
    font-weight: 700;
    color: #6f7690;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1000px) {
    #serverslocation .serversmap-holder {
        -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 55px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }
}

.row-title-only {
    padding-bottom: 30px;
}

.fa-star{
    font-size: 30px;
}
.check{
    font-size: 24px;
    color: #383ebf;
}
.times{
    font-size: 24px;
    color: #D11C08;
}

.No-Risk-left{
    width: 130px;
}

@media(min-width: 768px){
   .No-Risk-right{
        padding-top: 1em;
        width: 80%;
        text-align: left;
        place-self: center;
   }
}
@media(max-width: 767px){
   .No-Risk-right{
        width: 100%;
        text-align: center;
        place-self: center;
   }
   .alert-money{
    text-align: -webkit-center;
   }
}

ul.list-icons{
list-style: none;
}
ul.list-icons.tick li {
background-image: url(/images/tick.png);
background-position: 0 50%;
background-repeat: no-repeat;
background-size: 16px 16px;
padding-left: 1.375rem;
}
.login-key {
    font-size: 50px;
    background: -webkit-linear-gradient(#0519a7, #2b56cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login-page .form-control{
    border: none;
    border-bottom: 3px solid #383ebf;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
}
.login-page .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #383ebf;
    outline: 0;
}
.alert-money{
    background-color: #3ece9d1a;
}